@import "tailwindcss";

@theme {
  --color-midnight: #050505;
  --color-neon-rose: #ff007f;
  --color-neon-purple: #b026ff;
  --color-glass: rgba(255, 255, 255, 0.05);
  
  --shadow-glow-rose: 0 0 20px rgba(255, 0, 127, 0.5);
  --shadow-glow-purple: 0 0 20px rgba(176, 38, 255, 0.5);
}

body {
  background-color: var(--color-midnight);
  color: white;
}